.btn {
  border-radius: 10px;
  height: 50px;
  padding: 20px 50px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

.btn-dark {
  background-color: #393c40;
  color: $white-color;
}

.btn-light {
  background-color: $light-color;
  color: $dark-color;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

  .clickBox {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($white-color, 0.5);

    .x-btn {
      position: absolute;
      top: 100px;
      right: 50px;
      font-size: 50px;
      cursor: pointer;
      color: $dark-color;
      text-shadow: 2px 2px $light-color;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }

  .alert-box {
    position: relative;
    z-index: 99;

    width: 600px;
    min-height: 400px;
    background-color: $dark-color;
    margin: auto;
    padding: 30px;
    border-radius: 10px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h2,
    p {
      color: $white-color;
    }

    input {
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 10px 15px;
    }

    input[type="text"] {
      text-align: center;
    }
  }
}
