.ql-align-center {
  text-align: center;
}

.ql-font-serif {
  font-family: sans-serif;
}

.ql-font-monospace {
  font-family: monospace;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-syntax {
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 5px;
}

.ql-indent-1 {
  text-indent: 50px;
}

.ql-direction-rtl.ql-align-right {
  text-align: right;
}

.ql-size-small {
  font-size: 10px;
}

.ql-size-large {
  font-size: 30px;
}

.ql-size-huge {
  font-size: 60px;
}
